transformers
torch
requests
langchain-community
pypdf 
tqdm
flask
langchain
langchain-google-genai
pinecone
whatsapp-chatbot-python
nest-asyncio
google-generativeai
asyncio==3.4.3
python-dotenv
gunicorn
pysqlite3-binary
email-validator
gspread
#sqlite3
pinecone-client
google-auth
psycopg2
pydub
Pillow


psycopg2-binary
